@import '../../variables';

.footer{
    background-color: $background-pale;
    margin: 0 auto;
};

.btn-facebook {color:hsl(0, 0%, 100%); background-color:hsl(221, 44%, 41%);}
.btn-google-plus{color:hsl(0, 0%, 100%);background-color:hsl(7, 71%, 55%);}
.btn-youtube{color:hsl(0, 0%, 100%);background-color:hsl(5, 100%, 61%);}
.btn-linkedin{color:hsl(0, 0%, 100%);background-color:hsl(199, 100%, 36%);}
.btn-twitter{color:hsl(0, 0%, 100%);background-color:hsl(206, 82%, 63%);}
.btn-mail{color:hsl(0, 0%, 100%);background-color:hsl(258, 58%, 42%);}