<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
        <h3 translate>ABOUTUS</h3>
        <hr>
    </div>
  </div>

  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="70">
        <h2 translate>OURHISTORY</h2>
        <p translate>HISTORY1</p>
        <p translate>HISTORY2 <em translate>HISTORY3</em>,<span translate>HISTORY4</span></p>
      </div>
      <div fxFlex="30">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
            <h2 translate>FACTS</h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <dl>
              <dt translate>STARTED</dt>
              <dd>3 Feb. 2013</dd>
              <dt translate>STHOLDER</dt>
              <dd>HK Fine Foods Inc.</dd>
              <dt translate>TURNOVER</dt>
              <dd>$1,250,375</dd>
              <dt translate>EMPLOYEES</dt>
              <dd>40</dd>
            </dl>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  
  <div fxFlex>
    <mat-card>
      <blockquote>
        <h3 translate>PIZZAQUOTE</h3>
        <footer>-- Yogi Berra,
          <cite>The Wit and Wisdom of Yogi Berra,
            P. Pepe, Diversion Books, 2014</cite>
        </footer>
      </blockquote>
    </mat-card>
  </div>


  <div fxFlex>
    <h2 translate>LEADERSHIP</h2>
    <mat-list>
      <mat-list-item  *ngFor="let leader of Leaders" style="height: 120px;">
        <div fxFlex fxLayout="row" fxLayoutGap="10px">
          <img height="100px" src={{leader.image}} alt={{leader.name}}>
          <div>
            <p mat-line>{{leader.name}} {{leader.abbr}}</p>
            <p mat-line>{{leader.designation}}</p>
            <p mat-line>{{leader.description}}</p>
          </div>
        </div>        
      </mat-list-item>
    </mat-list>
  </div>
</div>