$color-white: hsl(0, 0%, 100%);
$color-background-darker: hsl(255, 61%, 39%);
$color-background-dark: hsl(258, 58%, 42%);
$color-background-light: hsl(262, 52%, 67%);
$color-background-pale: hsl(261, 46%, 84%);